<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>{{profile.name}}</h2>
    <h2>{{profile.email}}</h2>
    <h2>{{profile.phone}}</h2>
    <hr/>
    <br/>
    <p>Summary</p>
    <p>{{profile.summary}}</p>
    <hr/>
    <p>Skills</p>
    <p>{{profile.skills}}</p>
    <hr/>
    <p>Education</p>
    <ul>
        <li>Schooling: {{profile.school}}</li>
        <li>{{profile.degree}} from {{profile.university}}</li>
    </ul>
    <hr/>


</body>
</html>